.user-picker {
    background: lightblue;
}

.user-picker .user {
    border: 1px solid black;
    margin-bottom: 8px;
    cursor: pointer;
}

.user-picker .user.selected {
    background: red;
}

.calendar {
    display: grid;
    grid-gap: 4px;
    place-items: center;
    grid-template-columns: repeat(7, max-content);
}

.day {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day.marked {
    background: lightblue;
}

.day.current {
    font-weight: bold;
}

.replacements, .vacations {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    margin: 20px 0;
}

.replacements .replacement, .vacations .vacation {
    background: lightgoldenrodyellow;
    border-radius: 4px;
    padding: 20px;
}